<h1>Welcome to the Pages app!</h1>

<h3>Parse site pages from CSV:</h3>
<div class='container'>

  <%= form_with(url: {action: :parse_csv}, multipart: true) do %>
    <%= file_field_tag('paths_file') %>
    <br />
    <br />
    <%= submit_tag("Parse CSV") %>
  <% end %>

  <br />
  <br />

  <h2>Most recently submitted CSV pages:</h2>
  <div id="accordion">
    <% if @paths_parser %>
      <%= render 'pages_accordion' %>
    <% end %>
  </div>
</div>
